.git
.gitignore
.venv
venv
env
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.DS_Store
.idea
.vscode
old_files
Dockerfile
.dockerignore
docker-compose*.yml
docker-compose*.yml.template
run.sh
README.md
LICENSE
